/* Base styles for the app */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7f6;
}

.calendar-app {
  width: 100%;

}

.calendar-view {
  padding: 20px;
  background-color: #ffffff;
}


/* General styles for buttons */
button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

select {
  padding: 5px 10px;
  font-size: 16px;
}


/* Responsive styles */
@media (max-width: 768px) {
  .calendar-view {
    padding: 10px;
  }

  .calendar-nav {
    flex-direction: column;
  }

  .navigators {
    margin-bottom: 20px;
  }


  .month-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .year-months {
    grid-template-columns: repeat(2, 1fr);
  }


  .week-time-column {
    flex-shrink: 0;
    width: 70px;
    position: sticky;
    left: 0;
    background-color: white;
    z-index: 1;
    padding-right: 5px;
  }

  .week-view {
    display: flex;
    overflow: hidden;
  }

  .week-day {
    flex: 0 0 auto;
    min-width: 120px;
    text-align: center;
  }

  .week-day-slots {
    overflow-x: auto;
    display: grid;
    grid-template-columns: auto;

  }

}